# Database
DATABASE_URL="postgresql://user:password@localhost:5432/makara_store"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Apple OAuth
APPLE_CLIENT_ID=""
APPLE_CLIENT_SECRET=""
